STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE BEGIN	1, "VWT-IP-110950301"	10, "Virtus parties are often crashed by cyberpunks and avatars."	11, "Brian dePalma used Virtus WalkThrough Pro 2.0 to prototype set designs for his films \042Carlito's Way\042 and \042Mission Impossible.\042"	12, "Federal agencies use Virtus products to fight organized crime.  Organized crime uses Virtus products to manage warehouse facilities."	13, "In the last five years an estimated 10 trillion cubic feet of virtual space has been created by Virtus customers."	14, "Thanks for giving Virtus WalkThrough Special Edition a try. If you like what you see, give Virtus Customer Service a call at 1-800-847-8871 and learn about our other products."	15, "You're back! If you like Virtus WalkThrough Special Edition, you'll love Virtus WalkThrough Pro 2.0. For more information give Virtus Customer Service a call at 1-800-847-8871."END